@model IEnumerable<MvcProject.Models.FotoAlbum>

@{
    ViewData["Title"] = "Index";
}

<h1>Fotoalbums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studiebezoek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studiebezoek.GebruikerId)
            </td>
            <td>|
                <a asp-action="Details" asp-route-id="@item.FotoAlbumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FotoAlbumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
