@model MvcProject.Models.Studiebezoek

@{
    ViewData["Title"] = "Afkeuren";
}

<h1>Afkeuren</h1>

<h3>Ben je zeker dat je dit wilt afkeuren/verwijderen?</h3>
<div>
    <h4>Studiebezoek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartUur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartUur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EindUur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EindUur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalStudenten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalStudenten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KostprijsStudiebezoek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KostprijsStudiebezoek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerBus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerBus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerTram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerTram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerTrein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerTrein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerTeVoet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerTeVoet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VervoerFiets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VervoerFiets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KostprijsVervoer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KostprijsVervoer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfwezigeStudenten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfwezigeStudenten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoedgekeurdCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoedgekeurdCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoedgekeurdDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGoedgekeurdDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAfgewezen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAfgewezen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpmerkingAfgewezen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpmerkingAfgewezen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAfgewerkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAfgewerkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruiker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudiebezoekId" />
        <!-- Use a button to trigger the confirmation venster -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">
            Delete
        </button>
        |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

<!-- Venster -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Display the confirmation message with dynamic data -->
                <p>Beste ,U studiebezoek met ID @Model.StudiebezoekId, naam @Model.Gebruiker.Naam, en datum @Model.Datum werd niet goedgekeurd.</p>
                <p>Met vriendelijke groeten {beheerder}</p>
            </div>
            <div class="modal-footer">
                <!-- Add a button to submit the form after confirmation -->
                <button type="submit" class="btn btn-danger">Verzenden</button>
                <!-- Close the modal without submitting the form -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Include jQuery and Bootstrap JS for modal functionality -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}