@model MvcProject.ViewModels.StudiebezoekenViewModels.StudiebezoekenEditViewmodel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Studiebezoek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudiebezoekId" />
            <div class="form-group">
                <label asp-for="GebruikerId" class="control-label"></label>
                <select asp-for="GebruikerId" class="form-control" asp-items="ViewBag.GebruikerId"></select>
                <span asp-validation-for="GebruikerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VakId" class="control-label"></label>
                <select asp-for="VakId" class="form-control" asp-items="ViewBag.VakId"></select>
                <span asp-validation-for="VakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartUur" class="control-label"></label>
                <input asp-for="StartUur" class="form-control" />
                <span asp-validation-for="StartUur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EindUur" class="control-label"></label>
                <input asp-for="EindUur" class="form-control" />
                <span asp-validation-for="EindUur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reden" class="control-label"></label>
                <input asp-for="Reden" class="form-control" />
                <span asp-validation-for="Reden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalStudenten" class="control-label"></label>
                <input asp-for="AantalStudenten" class="form-control" />
                <span asp-validation-for="AantalStudenten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KostprijsStudiebezoek" class="control-label"></label>
                <input asp-for="KostprijsStudiebezoek" class="form-control" />
                <span asp-validation-for="KostprijsStudiebezoek" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Leerkracht"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerBus" /> @Html.DisplayNameFor(model => model.VervoerBus)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerTram" /> @Html.DisplayNameFor(model => model.VervoerTram)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerTrein" /> @Html.DisplayNameFor(model => model.VervoerTrein)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerTeVoet" /> @Html.DisplayNameFor(model => model.VervoerTeVoet)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerAuto" /> @Html.DisplayNameFor(model => model.VervoerAuto)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VervoerFiets" /> @Html.DisplayNameFor(model => model.VervoerFiets)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="AfwezigeStudenten" class="control-label"></label>
                    <input asp-for="AfwezigeStudenten" class="form-control" />
                    <span asp-validation-for="AfwezigeStudenten" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="KostprijsVervoer" class="control-label"></label>
                <input asp-for="KostprijsVervoer" class="form-control" />
                <span asp-validation-for="KostprijsVervoer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Opmerkingen" class="control-label"></label>
                <input asp-for="Opmerkingen" class="form-control" />
                <span asp-validation-for="Opmerkingen" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Directie") || User.IsInRole("Coördinator"))
            {

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsGoedgekeurdCo" /> @Html.DisplayNameFor(model => model.IsGoedgekeurdCo)
                    </label>
                </div>
            }
            @if (User.IsInRole("Directie"))
            {

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsGoedgekeurdDir" /> @Html.DisplayNameFor(model => model.IsGoedgekeurdDir)
                    </label>
                </div>
            }
            @if (User.IsInRole("Directie"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAfgewezen" /> @Html.DisplayNameFor(model => model.IsAfgewezen)
                    </label>
                </div>
            }
            @if (User.IsInRole("Directie") || User.IsInRole("Coördinator"))
            {
                <div class="form-group">
                    <label asp-for="OpmerkingAfgewezen" class="control-label"></label>
                    <input asp-for="OpmerkingAfgewezen" class="form-control" />
                    <span asp-validation-for="OpmerkingAfgewezen" class="text-danger"></span>
                </div>
            }
            @if (User.IsInRole("Directie") || User.IsInRole("Coördinator"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAfgewerkt" /> @Html.DisplayNameFor(model => model.IsAfgewerkt)
                    </label>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
