@model IEnumerable<MvcProject.Models.Studiebezoek>

@{
    ViewData["Title"] = "Index";
}

<h4>Studiebezoeken</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Reden)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GebruikerId)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Reden)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudiebezoekId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudiebezoekId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudiebezoekId">Delete</a>
                </td>
            </tr>


        }

    </tbody>
</table>
